
.editModal{
  padding-right: 10px;
}
.liMovie{
  display: flex;
  justify-content: center;
  padding-top: 10px;

}
.buttonMovie{
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: #1abc9c;
  border: transparent;
  border-radius: 5px;
  transition: 0.2s;
  width: 100px;
}
.buttonMovie:hover{
  background-color: #14e6bc;
}
.formEdit{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3%;
  margin: 5%;
  
}
.formMovie {
  margin: 5%;
  padding: 3%;
}
.listaEdit {
  height: 30px;
  padding: 5px;
  display: flex;
  justify-content: center;
}
.lista{
  margin-top: 5px;
  padding: 1%;
  border: 1px solid #000;
}

.inputMovie{
  width: 300px;
}
.returnButton {
  cursor: pointer;
  color: black;
  background-color: #1abc9c;
  border: transparent;
  border-radius: 10px;
  transition: 0.2s;
  width: 30px;
  height: 25px;
}
.returnButton:hover {
  background-color: #14e6bc;
}

.return{
  display: flex;
  justify-content: center;
  padding-left: 10px;
}
